html

  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src='/javascripts/task.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1= title

    .modal#id01
        
      form(class="modal-content" method="POST")
        .container
          h1 Edit Task
          hr
          label(for="text") 
            b What to do next?
          input(type="text" name="editTask" placeholder="Give me a quest" required)
          label(for="dueDate") 
            b D-Day
          input(type="number" name="dueDate" value =1)
          label(for="priority")
            b Priority
          select(name="priority")
            option(value="1").
              ASAP
            option(value="2").
              Ordinary
            option(value="3").
              take it slow
          .clearfix
            button(type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn").
              Cancel
            button(type="submit" class="submitbtn" formaction="/editTask").
              Submit
    

    .container2
      
        form( method="POST")
          input(type="text" name="newTask" placeholder = "what to do next?")
          input(type="number" name="dueDate" placeholder = "Due date: 1 (default)")
          select(name="priority")
            option(value="1").
              ASAP
            option(value="2").
              Ordinary
            option(value="3").
              take it slow
          button(type="submit" formaction = "/addtask").
            add task
        h2 Current task
          form(method="POST")
            table
              thead
                tr
                  th
                    button(type="button" class="sort").
                      Sort
                  th Done?
                  th What to do?
                  th Due date
                  th Priority
              tbody(id="taskTable")

                      
          button(type="reset" action="/removetask").
            Remove

            
        h2 Archive

    

      

      

    script.
      $(document).ready(function(){
        console.log("asdf");
      })

    p Happy Coding!
